*{
    padding: 0;
    margin: 20;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.bar-plot{
   height: 380px;
   background-color: rgba(211, 211, 211, 0.2);
}
.bar-plot p{
   padding: 10px;
   color: black;
   text-align: center;
}
.bar-graph {
   padding: 25px;
   height: 300px;
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   gap: 20px;
   background-color: rgba(211, 211, 211, 0.2);
}

.bar{
   position: relative;
   width: 50px;
   background-color: white;
   transform-origin: bottom center;
   animation: plot 2s linear forwards;
}

.bar-title {
    text-align: center;
    position: absolute;
    bottom: -50px;
    color: red;
}

@keyframes plot {
  0% {
    height: 0%;
    background-color: white;
  }
  100% {
    height: var(--i);
    background-color: gray;
  }   
}